.collapsible{
    background-color: white;
    border-radius: 10px;
    padding-bottom: 5px;
}

.section-header{
    font-size: 20pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    
}